# Python 文件统一 LF
*.py text eol=lf

# 文本文件
*.txt text
*.md text
*.json text
*.yaml text
*.yml text
*.html text
*.js text
*.css text

# 二进制文件
*.onnx binary
*.pt binary
*.trt binary
*.engine binary
*.jpg binary
*.png binary
*.mp4 binary
*.avi binary