# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
.env/
env/
ENV/

# ONNX / PyTorch / TensorRT 模型文件
*.onnx
*.pt
*.trt
*.engine

# Data & outputs
data/
datasets/
outputs/
results/
*.mp4
*.avi
*.jpg
*.png

# IDE / Editor
.vscode/
.idea/
.DS_Store

# Logs / temporary files
*.log
*.tmp
*.bak